#######################
# Visual Studio files #
#######################
.vs
*.sln
**.vcxproj
**.vcxproj.*

################
# Binary files #
################
**.dll
**.exe
!Transcendent-Engine/vendor/Premake/premake5.exe
**.pch
**.o
**.obj
**.lib
**.ilk
**.pdb
**.log
**.idb
**.tlog
**.json
**.lastbuildstate
