[submodule "Transcendent-Engine/vendor/glfw"]
	path = Transcendent-Engine/vendor/glfw
	url = https://github.com/TheCherno/glfw
[submodule "Transcendent-Engine/vendor/spdlog"]
	path = Transcendent-Engine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Transcendent-Engine/vendor/glm"]
	path = Transcendent-Engine/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Transcendent-Engine/vendor/stb"]
	path = Transcendent-Engine/vendor/stb
	url = https://github.com/nothings/stb
[submodule "Transcendent-Engine/vendor/imgui"]
	path = Transcendent-Engine/vendor/imgui
	url = https://github.com/TheCherno/imgui
	branch = docking
